body {
    font-family: Arial, sans-serif;
    background-image: url('../images/bgcontact.jpg'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    background-color: rgba(21, 20, 20, 0.9); /* Arka planın hafif bir yarı saydamlığı */
    border-radius: 10px;
    padding: 30px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
}
h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
    color: white;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="text"]:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #072f5a;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}
.form-group button:hover {
    background-color: #0056b3;
}